.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "Card-1 Card-2 Card-3"
    "Card-4 Card5 Card6";
}

.Card-1 { grid-area: Card-1; }

.Card-2 { grid-area: Card-2; }

.Card-3 { grid-area: Card-3; }

.Card-4 { grid-area: Card-4; }

.Card5 { grid-area: Card5; }

.Card6 { grid-area: Card6; }

.container-nav {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "NAVBAR NAVBAR NAVBAR"
    ". . ."
    ". . .";
}

.NAVBAR { grid-area: NAVBAR; }
